@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Poppins:wght@500;600&family=Raleway:wght@300;800&display=swap');

.head > .text{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 55px;
}